/* App.css */

.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
  height: 100vh;
}

/*App.css */

.grid-adjustable-columns {
  display: grid;
  /* grid-auto-flow: row; */
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
}

.column {
  flex-direction: column;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.flex-evenly {
  display: flex;
  justify-content: space-evenly;
}



.align-center {
  align-items: center;
}

h1 {
  font: 400 var(--font-size-40) 'Markazi', serif;
}
h2 {
  font: 400 var(--font-size-24) 'Markazi', serif;
}
p {
  font: 500 var(--font-size-18) 'Karla', serif;
}

ul {
  list-style: none;
}


header {
  grid-area: header;
  background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(242, 206, 3));
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}